<div>
<a class="nav" href="/">Home</a>
<form action="/{{id}}" method="post">
<input type="text" id="search" name="search" placeholder="Find a repcipe here" value="{{name}}">
<button>Search</button>
</form>
</div>
<hr>