<div class="recipes">

<h2>Recipes</h2>
<a class="nav" href="/recipes/add/{{recipe}}"><button>Add recipe</button></a>

<div class="re-container">

<ul>
  {{#each recipes}}
  <li>
    
    {{> singleRecipe}}
  </li>
  {{/each}}
</ul>
</div>
</div>