
<div class="home">

<h2 class="title">What's for Dinner<span class="mark">?</span></h2>

<img src="/Images/bell-peppers.jpg" class="home-img" >

<a href="/random" class="randomize-recipe"><button>Randomize a Recipe</button></a>

<a href="/recipes" class="randomize-recipe"><button>Show All Recipes</button></a>
</div>
