<h2 class="title">What's for Dinner</h2>

<a href="/random" class="randomize-recipe"><button>Randomize a Recipe</button></a>

<a href="/recipes" class="randomize-recipe"><button>Show All Recipes</button></a>
